<div class = "main">

  <div class="left">
  left
  </div>

  <div class="center">
    <div class = "contents">
      <% @questions.each do |question| %>
        <div class = "content">
          <%= link_to question_path(question) do %>
            <div>
              <%= image_tag question.image, class: "index-image" if question.image.attached? %>
              <p><%= question.text %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="right">
  right
  </div>

</div>