<div class="about">

  <%= image_tag "map.jpg", class:"map-image"%>
  
  <p>〒546-0022<br>
    大阪市東住吉区住道矢田<br>
    ８丁目６番６号<br>
    <%= link_to 'https://www.google.com/maps/place/〒546-0022+大阪府大阪市東住吉区住道矢田８丁目６−６/府大阪市東住吉区住道矢田８丁目６−６' do%>
    地図を開く
    <% end %>
    <br><br>
    TEL 06-4302-7650<br>
    FAX 06-4302-7660<br><br>
    ●定休日<br>
    年中無休<br>
    ●営業時間<br>
    10時〜20時<br>
    </p>
</div>
