<div class = "main">

  <div class="left">
  left
  </div>

  <div class="center">
  <%=@tweet.text%>
  <div>
    <%= image_tag @tweet.image, class: "index-image" if @tweet.image.attached? %>
  </div>
  </div>

  <div class="right">
  right
  </div>

</div>