<div class="center">
  <div class ="staff-content1">
    <div>
    <%= image_tag "gazo12.jpg", class:"staff-image" %>
    </div>
    <div class = "staff-comment">
    <p>代表　袖岡　啓祐（ソデオカ　ケイスケ）</p>
    <p>元トヨタ社員　経験したノウハウを元にディーラーでは出来なかった小回りが利く自動車販売店を目指しています。</p>
    <p>皆様のおかげをもちまして業界にも４０年目になりますがいつも初心の気持ちでお客様にサービスを提供します。</p>
    <p>趣味　お宝系と月一ゴルフ他　多趣味です！</p>
    <p>［営業］３つのサービス【値段】【仕事】【情緒】を主体に、誠心誠意込めてお客様にサービスをしていきます！！</p>
    </div>
  </div>
  <div class ="staff-content2">
    <div class = "staff-comment">
    <p>営業２名、整備士２名、事務１名態勢で日々頑張っております！</p>
    </p>フレンドリーで親しみやすいスタッフがお待ちしております☆</p>
    </div>
    <div>
    <%= image_tag "gazo1.jpg", class:"staff-image" %>
    </div>
  </div>
</div>