<div class="left">
  <div class="left-address">
    <p>〒546-0022</p>
    <p>大阪市東住吉区住道矢田</p>
    <p>８丁目６番６号</p>
  </div>
  <div class="left-phone">
    <p>TEL 06-4302-7650</p>
    <p>FAX 06-4302-7660</p>
  </div>

    <div class="left-holiday">
    <p>定休日</p>
    <p>土曜日・日曜日</p>
  </div>
</div>