<div class="right">

  <div>
    <div class ="service-title">
    <h3>-各種サービス-</h3>
    </div>
    <div class="right-content">
      <%= image_tag "gazo8.jpg", class:"right-image" %>
      <p>東京海上日動保険、代理店のエーライン株式会社です。対人/対物/人身傷害/車両保険/対物超過/弁護士特約/ロードサービス...etc</p>
    </div>
    <div class="right-content">
      <%= image_tag "gazo9.jpg", class:"right-image" %>
      <p>格安レンタカーはエーラインです！！詳しくは0066-9711-434428(無料)お気軽にお電話下さい☆</p>
    </div>
    <div class="right-content">
      <%= image_tag "gazo10.jpg", class:"right-image" %>
      <p>LINEの写メで修復見積します！LINE　ID　[keishi1120] 営業の袖岡啓嗣に繋がります！</p>
    </div>
    <div class="right-content">
      <%= image_tag "gazo11.jpg", class:"right-image" %>
      <p>車検承ります！詳しくは0066-9711-434428(無料)お気軽にお電話下さい☆</p>
    </div>
  </div>
</div>