/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
h1,h2,h3,h4,h5,h6{
  padding: 10px 0;
  margin: 0;
}

ul,li,p {
  padding: 0;
  margin: 0;
}


/* header footer */
.site-header{
  background: rgb(212, 211, 211);
  display: flex;
  position: fixed;/* スクロールしても位置が固定 */
  width: 100%;
  height: 80px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.500);
}

.left-header{
  min-width: 500px;
}
.logo{
  height: 80px;
}
.gnav__menu{
  display: flex;
  min-width: 850px;
}
.gnav__menu__item{
  margin: auto 20px auto 0;
  list-style: none;
}
.gnav__menu__item a{
  color: #333;
  text-decoration: none;
  font-size: 28px;
}

.site-footer{
  background: #333;
  padding: 20px 0;
}
.copyright{
  color: #fff;
  font-size: 12px;
  text-align: center;
}
/* header footer */
/* left right side */
.left{
  width: 200px;
  background-color: white;
}

.right{
  width: 200px;
  background-color: white;
}

.left-address{
  width: 180px;
  margin: 10px 0 10px 10px;
}

.left-phone{
  width: 180px;
  margin: 0 0 10px 10px;
}

.left-holiday{
  width: 180px;
  margin: 0 0 0 10px;


}

.right-image{
  width: 180px;
}

.service-title{
  text-align: center;
  margin: 10px 30px;
  border: 1px solid black;
}
.right-content{
  width: 180px;
  margin: 10px;
  background-color: rgb(190, 250, 230);
}
/* left right side */
/* index */
.top-image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main{
  display: flex;
  height: 1100px;
  margin-top: 80px;
}
.center{
  flex: 1;
  background-color: rgb(236, 240, 241);
  overflow: scroll;
  min-width: 660px;
}

.hidden{
  display: none;
}

.form-text{
  font-size: 20px;
  padding: 5px;
}
.car-list-title{
  margin: 20px auto;
  width: 200px;
  text-align: center;
  border-bottom:solid 1px #000;
  font-size: 20px;
}
.contents{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.content{
  width: 200px;
  height: 300px;
  margin-left: 10px;
  margin-bottom: 20px;
  background-color: rgb(175, 214, 250);
  text-align : center
}

.content-detail{
  width: 200px;
  height: 300px;
}

.text-decoration-none{
  text-decoration: none;
}

.index-image{
  width: 200px;
  height: 200px;

}
.price30{
  font-size: 30px;
}
.index-car-name{
  height: 50px;
}
.index-price{
  height: 50px;
}
/* index */
/* show */
.show-image{
  height: 500px;
}

.show_details{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.show_car_name,
.show_price,
.show_sales_point,
.show_model_year,
.show_mileage,
.show_inspection{
  border-bottom: 1px solid black;
}
.price20 {
  font-size: 20px;
}

.form-text{
  width: 500px;
}
/*問い合わせフォーム*/
.contact-form{
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid black;
}

.form-name{
}

.form-message{
}

.contact-label{
  width: 400px;
}

.contact-input{
  width: 480px;
  margin: 0 0 10px 0;
  padding: 5px;
  font-size: 20px;
}

.contact-message{
  width: 480px;
  height: 300px;
  margin: 0 0 10px 0;
  padding: 5px;
  font-size: 20px;
}

.button{
  background-color: skyblue;
  font-size: 20px;
}
/*問い合わせフォーム*/
/* スタッフ */
.staff-content1{
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border: 1px ridge black;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.500);
}

.staff-content2{
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.500);
}

.staff-image{
  height: 200px;

}
/* スタッフ */
/* レンタル */
.rental-image{
  width: 400px;
}
table {
  width: 400px;
  border: 1px solid black;
}
.table-lists{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 850px;
  margin: 20px auto 0;
  border: 1px solid black;
}
.table{
  width: 400px;
  margin: 10px;
  border: 1px solid black;
}
/* レンタル */